<tr>
   <td class="blogpost">
      <span class="title"><h3><%= blogpost.title %></h3></span>
      <span class="content"><%= blogpost.content.html_safe %></span>
      <span class="timestamp">
         Posted <%= time_ago_in_words(blogpost.created_at) %> ago. 
          <%= link_to "edit", edit_blogpost_path(blogpost.id) %> 
     </span>
   </td>
</tr>
