<% @user ||= current_user %>
<div class="stats">
         <a href="<%= following_user_path(@user) %>">
           <strong id="following" class="stat">following <%= @user.following.count %></strong>          
         </a>
         <a href="<%= followers_user_path(@user) %>">
           <strong id="followers" class="stat">
             <%= pluralize(@user.followers.count, "follower") %>
           </strong>
         </a>
</div>
