<div class="user_info">
     <a href="<%= user_path(current_user) %>">
     <%= gravatar_for current_user, :size => 30 %>
     </a>
     <h1>
       <%= current_user.name %>
     </h1>
     <span>
       <%= pluralize(current_user.microposts.count, "micropost") %>
     </span> 
</div>
