<h1>Help</h1>
<div id="page_content" class="mercury-region" data-type="editable">
<p>
Ich habe ein interessantes Zitat gefunden.<br> In "Introduction to the book of Zohar".<br>
Das sich gut auf diesen Programmierkurs anwenden läßt. </p>
<p>
"When spirituaity seems insignificant and unreal, it means that <br> 
you are in the moste correct state with regard to the creator. <br>
If while being in these states, you continue aspiring to the Upper world,<br>
 the necessary spiritual Kelim (spiritual mind) will be formed in you."
</p>
</div>
