<tr>
   <td class="micropost">
      <span class="content"><%= micropost.content.html_safe %></span>
      <span class="timestamp">
         Posted <%= time_ago_in_words(micropost.created_at) %> ago.
     </span>
   </td>
   <% if current_user?(micropost.user) %>
     <td class="micropost">
       <%= link_to "delete", micropost, :method => :delete,
                                                   :confirm => "You sure?",
                                                   :title => micropost.content %>
     </td>
   <% end %>
  
</tr>
